<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConversationPassword</key>
	<string>CONVERSATION_PASSWORD</string>
	<key>ConversationUsername</key>
	<string>CONVERSATION_USERNAME</string>
	<key>ConversationVersion</key>
	<string>2016-12-23</string>
	<key>ConversationWorkspaceID</key>
	<string>CONVERSATION_WORKSPACE_ID</string>
	<key>SpeechToTextPassword</key>
	<string>SPEECH_TO_TEXT_PASSWORD</string>
	<key>SpeechToTextUsername</key>
	<string>SPEECH_TO_TEXT_USERNAME</string>
	<key>TextToSpeechPassword</key>
	<string>TEXT_TO_SPEECH_PASSWORD</string>
	<key>TextToSpeechUsername</key>
	<string>TEXT_TO_SPEECH_USERNAME</string>
	<key>googlePlacesAPIKey</key>
	<string>GOOGLE_PLACES_API_KEY</string>
</dict>
</plist>
