<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appRouteLocal</key>
	<string>http://localhost:8080</string>
	<key>appRouteRemote</key>
	<string>https://cognitiveconcierge-20170606190241365-noninvincible-formularisation.mybluemix.net</string>
	<key>isLocal</key>
	<true/>
</dict>
</plist>
